h1 { 
    color: red;

}
#heading-2{ 
  
    color: blue;
}
.heading{ 
   
    color:orange;
}
.para{
    border:2px;
    border-color:black;
    border-style:solid;
    padding:20px;
    text-align:center;
}
.navbar{
    border:2px;
    border-color:black;
    border-style:solid;
    padding:15px;
    background-color:lightblue;
    text-align:center;
}
.navbar a{
    color:black;
    padding:15px;
    text-decoration:none;
}
.navbar a:hover{
    background-color:rgb(100, 114, 221);
}
body{
    margin:0px;
}
.card{
    border:3px solid rgb(26, 24, 24);
    width:500px;
    text-align:center;
    margin-top:30px;
    margin-left:40px;

}
.card img{
    width:100%;
}